<h1>Dashboard</h1>
<h2> Reports</h2>
<ul>
<li><%= link_to "All Report (as PDF)", all_report_path('pdf'), target: '_blank' %></li>
<li><%= link_to "All Report (as CSV)", all_report_path('csv') %></li>
<li><%= link_to "All Report (as HTML)", all_report_path() %></li>
